*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

body{
    background-color:black;
    min-width: 830px;
    /*background-image: url(../design/bakgrunn_venstre.png);
    background-size: 10% auto;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
}



#wrapper{
    background-color: white;
    width: 80%;
    border-radius: 3px;
    margin: 1em auto;
    padding: 0.5%;
    display: grid;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main sidebar"
    "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}
    #mainHeader{
        grid-area: header;
        border-bottom: 1px solid lightblue;
        display: flex;
    }
        #logo{
            width: 14%;
            min-width: 150px;
            object-fit: contain;
            align-self: flex-start;
        }
        nav{
            grid-area: nav;
        }
            #menu ul{
                display: flex;
                margin: 0 auto;
                list-style: none;
            }
            #menu li{
                padding: 5px;
                background-color: lightblue;
            }
            #menu li:first-child{ margin-left: 0;}
            #menu li:last-child{ margin-right: 0;}

            #menu *{
                color:orangered;
                text-decoration: none;
            }
    main{
        grid-area: main;
        border-right: 1px solid lightblue;
    }
        #artikler{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
            #artikler article{
                min-width: 300px;
                padding: 10px;
                flex-grow: 1;
                flex-basis: 40%;
                margin: 10px;
            }
    #sidebar{
        grid-area: sidebar;
        min-width: 300px;
    }
        #sidebar article{
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid lightblue;
        }
        #sidebar article:first-of-type{
            padding-top: 0;
        }
        #sidebar article:last-of-type{
            padding-bottom: 0;
            border-bottom: none;
        }
    #mainFooter{
        grid-area: footer;
        border-top: 1px solid lightblue;
    }